<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 15</h3> <!-- Day 1   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html">Setup & Introduction to R, RStudio and RMarkdown</a></td>   <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html">Project Management With RStudio</a></td>        <!-- content -->
      </tr>
	<tr>               <!--row 4  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
	<tr>               <!-- row 5   -->
        <td>15:15</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html">Seeking Help</a></td>        <!-- content -->
      </tr>
	<tr>               <!-- row 6   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 16</h3>	<!-- Day 2   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html">Splitting and Combining Data Frames</a></td>        <!-- content -->
      </tr>
     <tr>               <!--row 3  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr> <tr>               <!-- row 4   -->
        <td>15:15</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Data Frame Manipulation with dplyr</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 17</h3>	<!-- Day 3   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html">Writing data</a></td>        <!-- content -->
      </tr>
	 <tr>               <!--row 3  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>16:15</td>        <!-- time    -->
        <td>(first 3 days of materials)</td>        <!-- content -->
	 <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 18</h3> <!-- Day 4   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
               <td><a href="https://carpentries-incubator.github.io/logistic-regression-public-health/01-introBinary/index.html"> Introduction to binary response variables </a></td>        <!-- content -->
 
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
 	 <tr>               <!-- row 3   -->
        <td>15:15</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/logistic-regression-public-health/02-introLogistic/index.html"> Introduction to logistic regression </a></td>        <!-- content -->

      </tr> 
    </table>
  </div>
 <div class="col-md-6"> <!-- right column -->
    <h3>May 19</h3>	<!-- Day 5   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/logistic-regression-public-health/03-fittingLogistic/index.html"> Logistic regression with one continuous explanatory variable </a></td>        <!-- content -->
        </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
              <td><a href="https://carpentries-incubator.github.io/logistic-regression-public-health/04-predLogistic/index.html"> Making predictions from a logistic regression model </a></td>        <!-- content -->
       </tr>
       <tr>               <!--row 3  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
	 <tr>               <!-- row 4   -->
        <td>15:15</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/logistic-regression-public-health/05-assumpLogistic/index.html"> Assessing logistic regression fit and assumptions </a></td>        <!-- content -->
      </tr>     
 </tr><tr>               <!-- row 5  -->
        <td>End</td>
       
      </tr>
    </table>
  </div>
</div>
