<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 15</h3> <!-- Day 1   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:30</td>        <!-- time    -->
        <td><p>Setup & Introduction to R, RStudio and RMarkdown</p></td>   <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:30</td>        <!-- time    -->
        <td><p>Project Management With RStudio</p></td>        <!-- content -->
      </tr>
	<tr>               <!--row 4  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
	<tr>               <!-- row 5   -->
        <td>15:15</td>        <!-- time    -->
        <td><p>Seeking Help</p></td>        <!-- content -->
      </tr>
	<tr>               <!-- row 6   -->
        <td>15:30</td>        <!-- time    -->
        <td><p>Data Structures</p></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 16</h3>	<!-- Day 2   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td><p>Exploring Data Frames</p></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td><p>Splitting and Combining Data Frames</p></td>        <!-- content -->
      </tr>
     <tr>               <!--row 3  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr> <tr>               <!-- row 4   -->
        <td>15:15</td>        <!-- time    -->
        <td><p>Data Frame Manipulation with dplyr</p></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 17</h3>	<!-- Day 3   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td><p>Creating Publication-Quality Graphics with ggplot2</p></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td><p>Writing data</p></td>        <!-- content -->
      </tr>
	 <tr>               <!--row 3  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>16:15</td>        <!-- time    -->
        <td>(first 3 days of materials)</td>        <!-- content -->
	 <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 18</h3> <!-- Day 4   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td>Introduction to binary response variables</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
 	 <tr>               <!-- row 3   -->
        <td>15:15</td>        <!-- time    -->
        <td>Introduction to logistic regression</td>        <!-- content -->
      </tr> 
    </table>
  </div>
 <div class="col-md-6"> <!-- right column -->
    <h3>May 19</h3>	<!-- Day 5   -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:30</td>        <!-- time    -->
        <td>Logistic regression with one continuous explanatory variable</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td>Making predictions from a logistic regression model</td>        <!-- content -->
      </tr>
       <tr>               <!--row 3  -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
	 <tr>               <!-- row 4   -->
        <td>15:15</td>        <!-- time    -->
        <td>Assessing logistic regression fit and assumptions</td>        <!-- content -->
      </tr>     
 </tr><tr>               <!-- row 5  -->
        <td>End</td>
       
      </tr>
    </table>
  </div>
</div>
